<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Explorer</title>

	<link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Slide Principal -->
	<link rel="stylesheet" href="assets/camera/camera.css">
	<!-- FancyBox -->
	<link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<header class="principal-header">
			<h1 class="col-xs-6 principal-logo">
				<a href="index.html"></a>
			</h1>
			<div class="col-xs-6 align-right">
				<div class="multi-language">
					<p>
						<a class="language-spanish" href="#">Español</a>
						<a class="language-english" href="#">English</a>
					</p>
				</div>
				<div class="search">
					<form action="#">
						<input type="text" placeholder="Buscar...">
						<button><span class="fa fa-search"></span></button>
					</form>
				</div>
			</div>
		</header>
		<nav class="principal-menu">
			<ul class="menu">
				<li><a href="index.html" class="active">Inicio</a></li>
				<li>
					<a href="#">Institucional</a>
					<ul class="sub-menu">
						<li><a href="#">Historia</a></li>
						<li><a href="#">Enfoque Estrategico</a></li>
						<li><a href="#">HSEQ</a></li>
						<li><a href="#">Recursos Humanos</a></li>
					</ul>
				</li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Noticias</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav>
		<div class="page">
			<h1>Contáctenos</h1>
			<p>Utilice el formulario a continuación para contactar a nuestro equipo, en breve recibirá respuesta:</p>
			<div class="form">
				<form action="#" class="form-horizontal">
					<div class="form-group">
						<label for="contact-name" class="col-xs-3 control-label">Nombre*</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="contact-name">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-last_name" class="col-xs-3 control-label">Apellido*</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="contact-last_name">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-email" class="col-xs-3 control-label">Email*</label>
						<div class="col-xs-9">
							<input type="email" class="form-control" id="contact-email">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-subjet" class="col-xs-3 control-label">Asunto*</label>
						<div class="col-xs-9">
							<input type="text" class="form-control" id="contact-subjet">
						</div>
					</div>
					<div class="form-group">
						<label for="contact-message" class="col-xs-3 control-label">Mensaje*</label>
						<div class="col-xs-9">
							<textarea name="" id="contact-message" class="form-control" rows="7"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-offset-3 col-xs-9">
							<button type="submit" class="btn btn-default">Enviar</button>
						</div>
					</div>
				</form>
				<span>*Campos requeridos</span>
			</div>
			<address>
				<p>Duitama - Boyacá</p>
				<p>Planta Av. las Américas 20 - 60</p>
				<p>Tel: (57) 8-7631252 /8 - 7631254 Fax: 8-7602661</p>
				<p>e-mail: gerencia@industriasexplorer.com</p>
				<p>secretaria@industriasexplorer.com</p>
				<p>www.industriasexplorer.com</p>
			</address>
		</div>
		<footer class="principal-footer">
			<p>Industrias Explorer © Todos los derechos reservados 2015</p>
		</footer>
	</div>

	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/bootstrap/bootstrap.min.js"></script>

	<!-- Slide Principal -->
	<script src="assets/js/jquery-migrate-1.2.1.js"></script>
	<script src="assets/camera/jquery.mobile.customized.min.js"></script>
	<script src="assets/camera/jquery.easing.1.3.js"></script>
	<script src="assets/camera/camera.min.js"></script>
	<!-- FancyBox -->
	<script src="assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
	<script src="assets/fancybox/jquery.fancybox.js"></script>

	<script src="js/main.js"></script>

</body>
</html>