<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Explorer</title>

	<link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<!-- Slide Principal -->
	<link rel="stylesheet" href="assets/camera/camera.css">
	<!-- FancyBox -->
	<link rel="stylesheet" href="assets/fancybox/jquery.fancybox.css">

	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="container">
		<header class="principal-header">
			<h1 class="col-xs-6 principal-logo">
				<a href="index.html"></a>
			</h1>
			<div class="col-xs-6 align-right">
				<div class="multi-language">
					<p>
						<a class="language-spanish" href="#">Español</a>
						<a class="language-english" href="#">English</a>
					</p>
				</div>
				<div class="search">
					<form action="#">
						<input type="text" placeholder="Buscar...">
						<button><span class="fa fa-search"></span></button>
					</form>
				</div>
			</div>
		</header>
		<nav class="principal-menu">
			<ul class="menu">
				<li><a href="index.html" class="active">Inicio</a></li>
				<li>
					<a href="#">Institucional</a>
					<ul class="sub-menu">
						<li><a href="#">Historia</a></li>
						<li><a href="#">Enfoque Estrategico</a></li>
						<li><a href="#">HSEQ</a></li>
						<li><a href="#">Recursos Humanos</a></li>
					</ul>
				</li>
				<li><a href="#">Servicios</a></li>
				<li><a href="#">Noticias</a></li>
				<li><a href="#">Clientes</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav>
		<div class="page">
			<article>
				<div class="gallery">
					<a class="fancybox" rel="gallery_page" href="images/gallery/1.jpg" title="">
						<img src="images/gallery/1.jpg" alt="" />
					</a>
					<a class="fancybox" rel="gallery_page" href="images/gallery/2.jpg" title="">
						<img src="images/gallery/2.jpg" alt="" />
					</a>
					<a class="fancybox" rel="gallery_page" href="images/gallery/3.jpg" title="">
						<img src="images/gallery/3.jpg" alt="" />
					</a>
					<a class="fancybox" rel="gallery_page" href="images/gallery/4.jpg" title="">
						<img src="images/gallery/4.jpg" alt="" />
					</a>
					<a class="fancybox" rel="gallery_page" href="images/gallery/5.jpg" title="">
						<img src="images/gallery/5.jpg" alt="" />
					</a>
				</div>
				<h1>Historia</h1>
				<p>Industrias Explorer nace en el año de 1962 en la ciudad de Duitama, Boyacá, Colombia, como una microempresa dedicada a la reparación de motores eléctricos para varias industrias de la región. Dados los nuevos requerimientos por parte de las empresas cliente, como Acerías Paz del Río, Bavaria, Cementos Boyacá, Cementos Paz del Río, Siderúrgica de Boyacá y Maguncia, entre otras.</p>
				<p>Entre 1965 y 1985 se hizo necesaria la ampliación y adecuación de instalaciones para ofrecer nuevos servicios como reparación de motores de potencia y tensión de mayores exigencias, reparación de transformadores de baja tensión, manufactura y ensamble de celdas, tableros eléctricos, centros de control de procesos industriales, montajes eléctricos, suministro directo de equipos, material eléctrico.</p>
				<p>En 1990, se inicia la construcción de la sede actual para anticiparse y atender los crecientes y exigentes requerimientos del mercado, obra culminada en 1994. En este año se repara con total éxito el transformador para horno eléctrico tipo acorazado Shell de 20MVA15kV propiedad de Siderúrgica de Boyacá, S.A. proyecto de ingeniería que se constituiría en el preámbulo para la reparación y mantenimiento de transformadores de alta potencia. Gracias a la excelente labor realizada en la ejecución de los servicios, en 1995, Industrias Explorer recibe el Premio Nacional al Desarrollo Empresarial, otorgado por la Organización para el Desarrollo Empresarial OPADE y la Corporación para el Desarrollo Humano y Empresarial CODHE. Desde este mismo año, se han realizados trabajos de gran importancia y trascendencia para el sector eléctrico, siderúrgico y cementero del país, constituyendo a la empresa como líder en la prestación de estos servicios.</p>
				<ol>
					<li>
						Reparaciones parciales o totales a transformadores y autotransformadores con potencia hasta 100 MVA y hasta 230 kv, con diseño tipo núcleo o acorazado, reactores, rectificadores, transformadores para horno eléctrico.</li>
					<li>
						Mantenimiento predictivo de transformadores, subestaciones eléctricas y motores eléctricos industriales, mediante la realización de pruebas de rutina realizadas en sitio con el laboratorio móvil.</li>
					<li>
						Mantenimiento preventivo de transformadores y motores eléctricos industriales para corregir y mejorar las deficiencias encontradas en los protocolos de pruebas.</li>
					<li>
						Rediseño y adaptación de cambiadores de Tomás bajo carga, sensores de temperatura en fibra óptica, rediseño de bobinas y devanados.</li>
					<li>
						Asesoría e ingeniería para la instalación de nuevos equipos y tecnologías que mejoren el funcionamiento de los transformadores.</li>
					<li>
						Reparación parcial y total de motores y generadores cumpliendo con las normas técnicas de calidad y servicio.</li>
					<li>
						Fabricación de celdas, tableros y centros de control de procesos industriales, manuales o automáticos.</li>
				</ol>
			</article>
		</div>
		<footer class="principal-footer">
			<p>Industrias Explorer © Todos los derechos reservados 2015</p>
		</footer>
	</div>

	<script src="assets/js/jquery-1.11.1.min.js"></script>
	<script src="assets/bootstrap/bootstrap.min.js"></script>

	<!-- Slide Principal -->
	<script src="assets/js/jquery-migrate-1.2.1.js"></script>
	<script src="assets/camera/jquery.mobile.customized.min.js"></script>
	<script src="assets/camera/jquery.easing.1.3.js"></script>
	<script src="assets/camera/camera.min.js"></script>
	<!-- FancyBox -->
	<script src="assets/js/jquery.mousewheel-3.0.6.pack.js"></script>
	<script src="assets/fancybox/jquery.fancybox.js"></script>

	<script src="js/main.js"></script>

</body>
</html>